# Flask
Flask>=2.2.5
## Dependencies
click==8.1.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
Werkzeug==3.0.1

# Environment file integration
python-dotenv==1.0.0

# Project maintenance
flake8==6.0.0
isort==5.12.0
pre-commit==3.0.4
flake8-isort==6.0.0
## Dependencies
mccabe==0.7.0
pycodestyle==2.10.0
pyflakes==3.0.1
cfgv==3.3.1
distlib==0.3.6
filelock==3.9.0
identify==2.5.17
nodeenv==1.7.0
platformdirs==3.0.0
PyYAML==6.0
virtualenv==20.19.0

# Runtime
gunicorn==20.1.0

# Pandas
pandas==1.5.3
## Dependencies
numpy==1.24.2
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0

# OpenAI
openai==0.27.8
## Dependencies
aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
certifi==2023.07.22
charset-normalizer==3.1.0
frozenlist==1.3.3
idna==3.4
multidict==6.0.4
requests>=2.31.0
tqdm==4.65.0
urllib3==1.26.18
yarl==1.8.2
## Embedding dependencies
contourpy==1.0.7
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.39.2
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.7.1
openpyxl==3.1.2
packaging==23.0
pandas-stubs==1.5.3.230321
pillow==10.0.1
plotly==5.13.1
pyparsing==3.0.9
scikit-learn==1.2.2
scipy==1.10.1
tenacity==8.2.2
threadpoolctl==3.1.0
types-pytz==2023.2.0.1

# Tiktoken
tiktoken==0.3.2
## Dependencies
regex==2023.3.23

# Visualisations
seaborn==0.12.2
